@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: 100vh; */
}

body {
  background-color: #004A76;
}

main {
  margin: auto;
  min-height: 100vh;
  /* position: relative; */
}

.vertical-center-container {
	display: flex;
	flex-direction: column;
	gap: 75px;
	position: absolute;
	bottom: 50%;
	width: 50%;
	left: 25%;
	/* background-color: red; */
}

.title {
  text-align: center;
  font-size: 64px;
}

.input-dropdown-container {
	position: relative;
}

.input {
  background-color: #003353;
  /* border-radius: 40px 40px 0px 0px; */
  border-radius: 40px;
  height: 85px;
  font-size: 36px;
  padding: .6rem;
  width: 100%;
  margin: auto;
  top: 0px;
}

.input-nobottom-border {
	border-bottom: none
}

.dropdown {
  background-color: #003353;
  padding: .5rem;
  font-size: 36px;
  position: absolute;
  width: 100%;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 763px) {


  .vertical-center-container {
	width: 100%;
	left: 0%;
	padding: 30px;
	gap: 100px;
  }

  .title {
	font-size: 36px;
  }

  .input {
	height: 50px;
  }
}